@font-face
{
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited, a:hover, a:active
{
    color: white;
}

*
{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    word-break: keep-all;
}

.dored
{
    color: red;
    position: relative;
    animation: infinite run 0.2s alternate ease-out, infinite light 0.5s alternate ease-in-out;
    margin: 0;
    text-align: center;
}

@keyframes light {
    from {
        color: red;
    }
    to {
        color: yellow;
    }
}

@keyframes run
{
    from {
        bottom: -2px;
    }
    to {
        bottom: 2px;
    }
}

.registerForm
{
    text-align: center;
}

.registerForm > label
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.75rem;
}

.registerForm > label > span 
{
    padding-right: 20px;
    vertical-align: middle;
}

.registerForm > label > select
{
    padding: 0;
    margin: 0;
    border: 0;
    width: 200px;
    height: 2rem;
}

.registerForm > label > input
{
    padding: 0;
    margin: 0;
    border: 0;
    width: 200px;
    height: 2rem;
}

.registerForm .submit
{
    color: black;
    font-size: 1rem;
    padding: 10px 120px 10px 120px;
    margin-top: 50px;
    background-color: white;
    transition: background-color ease-out 0.5s, color ease-in-out 0.5s;
    border: 0.5px white solid;
    justify-self: center;
    appearance: none;
}

.registerForm .submit:hover
{
    background-color: #98e0ff;
}

.registerForm .submit.deactive
{
    background-color: #C21E56;
    color: white;
    pointer-events: none;
}

.weak-filter
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -10;
    opacity: 0.6;
    background: linear-gradient(rgba(5, 10, 13, 255) 0%, rgba(5, 10, 13, 0) 15%, transparent 100%);
}

.filter
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -10;
    background-color: rgba(5, 10, 13, 255);
    opacity: 0.9;
}

.bg 
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -500;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    transition: opacity ease 5s;
}

.warning
{
    color: #e4326d;
    padding-left: 1rem;
}

nav
{
    color: white;

    z-index: 1000;
    top: 0;
    transition: background-color 0.2s ease-in;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 5px repeat(12, 1fr) 5px;
    grid-template-rows: 1;
    align-items: center;
    background-color: transparent;
    height: 3rem;
    font-size: 0.75rem;
}

nav.active
{
    background-color: black;
}

.navline
{
    position: fixed;
    top: 3rem;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.navline.active
{
    background-color: rgba(255, 255, 255, 255);
}

nav > .Logo
{
    transition: ease-in color 0.2s;
    font-family: "NEXON Lv1 Gothic OTF";
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    line-height: 1.3em;
}

nav.active > .Logo
{
    color: #9cd4ed;
}

nav > .About
{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

nav > .Register
{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2; 
}

nav > .Result
{
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2; 
}

nav > a
{
    transition: color 0.2s ease-in;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav.active > a
{
    color: white;
}

footer
{
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 80px 1fr 60px 1fr 100px;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
}

footer > a:link, footer > a:visited, footer > a:hover, footer > a:active
{
    color: #9cd4ed;
    text-decoration: none;
    text-align: center;
    font-family: "NEXON Lv1 Gothic OTF";
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 0.75rem;
}

footer > p
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 0.5rem;
}

.App {
  text-align:center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.home
{
    grid-template-rows: 25vh 25vh 25vh 5vh 10vh;
}

.home h1
{
    font-family: 'GongGothicMedium';
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 3rem;
    color: #00374C;
    text-shadow: 2px 1px #fcfcd4;
}

.eventResult img
{
    margin-top: 2rem;
    width: 100%;
}

.eventResult
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

section 
{
    display: grid;
    color: white;
    margin-top: 10vh;
    grid-template-columns: 15px repeat(12, 1fr) 15px;
    grid-template-rows: 6rem 2rem 1fr 6rem;
    text-align: center;
    align-items: center;
    min-height: 90vh;
    justify-items: center;
}

body
{
    background-color: black;
}

section > h1
{
    font-family: "NEXON Lv1 Gothic OTF";
    font-weight: lighter;
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 2rem;
    line-height: 1.5em;
    color: #9cd4ed;
}

.home .button
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 14;
    background: linear-gradient(30deg, #D87C9E, #927FB4);
    border-radius: 10px;
    border: 2px white solid;
}

.home .button:hover
{
    background: linear-gradient(210deg, #D87C9E, #927FB4);
}

.blur
{
    opacity: 0;
}

.home .button a
{
    font-size: 0.9rem;
    font-weight: 900;
    text-decoration: none;
    color: #FFFFFF;
    transition: color ease-in 0.2s;
    display: block;
    padding: 10px 30px 13px 30px;
}

.home .button:hover a
{
    color: rgb(255, 226, 61);
}

section .contents
{
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: left;
    max-width: 1200px;
}



@media (min-width: 900px)
{
    section .contents
    {
        grid-column-start: 4;
        grid-column-end: 12;
    }

    .home .button a
    {
        font-size: 1.25rem;
    }

    .home h1
    {
        font-size: 4.5rem;
    }
    section
    {
        grid-template-columns: 40px repeat(12, 1fr) 40px;
    }

    .navline
    {
        top: 4rem;
    }

    nav
    {
        z-index: 100;
        grid-template-columns: 40px repeat(12, 1fr) 40px;
        height: 4rem;
        font-size: 1rem;
    }
    nav > .Logo
    {
        font-family: "NEXON Lv1 Gothic OTF";
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    nav > .About
    {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    nav > .Register
    {
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2; 
    }
    
    nav > .Result
    {
        grid-column-start: 12;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2; 
    }

    footer > a:link, footer > a:visited, footer > a:hover, footer > a:active
    {
        font-size: 1rem;
    }

    footer > p
    {
        font-size: 0.75rem;
    }
}